@{ Layout = "_appmain"; ViewData["Title"] = "Profit central"; }


@section UserProfile{
	<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click" aria-expanded="true">
        <a href="#" class="m-nav__link m-dropdown__toggle">
            <span class="m-topbar__userpic">
                <img src="~/static/img/user_profit.jpg" class="m--img-rounded m--marginless m--img-centered" alt="">
            </span>
            <span class="m-topbar__username m--hide">
                Nick
            </span>
        </a>
        <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 12.5px;"></span>
            <div class="m-dropdown__inner">
                <div class="m-dropdown__header m--align-center" style="background: url(../../static/img/user_profile_bg.jpg); background-size: cover;">
                    <div class="m-card-user m-card-user--skin-dark">
                        <div class="m-card-user__pic">
                            <img src="~/static/img/user_profit.jpg" class="m--img-rounded m--marginless" alt="">
                        </div>
                        <div class="m-card-user__details">
                            <span class="m-card-user__name m--font-weight-500">
                                Mark Andre
                            </span>
                            <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                mark.andre@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
                <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                        <ul class="m-nav m-nav--skin-light">
                            <li class="m-nav__section m--hide">
                                <span class="m-nav__section-text">
                                    Section
                                </span>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                                    <span class="m-nav__link-title">
                                        <span class="m-nav__link-wrap">
                                            <span class="m-nav__link-text">
                                                My Profile
                                            </span>
                                            <span class="m-nav__link-badge">
                                                <span class="m-badge m-badge--success">
                                                    2
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-share"></i>
                                    <span class="m-nav__link-text">
                                        Activity
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                    <span class="m-nav__link-text">
                                        Messages
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit"></li>
                            <li class="m-nav__item">
                                <a href="header/profile.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-info"></i>
                                    <span class="m-nav__link-text">
                                        FAQ
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="header/profile.html" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                    <span class="m-nav__link-text">
                                        Support
                                    </span>
                                </a>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit"></li>
                            <li class="m-nav__item">
                                <a href="snippets/pages/user/login-1.html" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>										


}




@section MenuNavItem{

        <li class="m-menu__item  m-menu__item--active" aria-haspopup="true" >
            <a  asp-controller="Home" asp-action="Index" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-line-graph"></i>
                <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                        <span class="m-menu__link-text">
                            Painel central
                        </span>
                    </span>
                </span>
            </a>
        </li>

        <li class="m-menu__section">
            <h4 class="m-menu__section-text">
                Administração
            </h4>
            <i class="m-menu__section-icon flaticon-more-v3"></i>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
            <a  asp-controller="Colaborador" asp-action="Detalhe"  class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-users"></i>
                <span class="m-menu__link-text">
                    Colaborador
                </span>									
            </a>							
        </li>

}



<div class="row">
    <div class="col-xl-12">
        <!--begin::Portlet-->
        <div class="m-portlet" id="m_portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
							<i class="flaticon-map-location"></i>
						</span>
                        <h3 class="m-portlet__head-text">Calendar</h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                                <span><i class="la la-plus"></i><span>Add Event</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div id="m_calendar" class="fc fc-unthemed fc-ltr">
                   
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>